body{
    
    background-color: azure; 
    font: 1em sans-serif;
    text-align: center;
}

#idForHeading{
    text-align: center;
}

ul {
    list-style-type:none;
}

#show{
    border:2px dotted cornsilk;
    border-radius: 25px;
    bottom: 5mm;
    margin-bottom: 5mm;
}

#ToDo-App-container{
    border-radius: 40px;
    background-color: beige;
    margin: 25px;
    margin-left: 400px;
    margin-right: 400px;

}